* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root {
    --bg-color: #080808;
    --fonte-color: #fff;
    --fonte2-color: #ababab;
    --vermelho-color: #ff004f;
}
body {
    background: var(--bg-color);
    color: var(--fonte-color);
}
.header {
    width: 100%;
    height: 100vh;
    background-image: url(../imagens/john_doe.png);
    background-size: cover;
    background-position: center;
}
.container {
    padding: 10px 10%;
}
nav {
    /* para que o menu seja exibido lado a lado */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo {
    width: 140px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    color: var(--fonte-color);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--vermelho-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;
}
.header-text {
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span {
    color: var(--vermelho-color);
}
/* -------- sobre --------*/
#sobre {
    padding: 80px;
    color: var(--fonte2-color);
}
.linha {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.sobre-col-1 {
    flex-basis: 35%;
}
.sobre-col-1 img {
    width: 100%;
    border-radius: 15px;
}
.sobre-col-2 {
    flex-basis: 60%;
}
.sub-titulo {
    font-size: 60px;
    font-weight: 600;
    color: var(--fonte-color);
}